# Laravel app
app/.phpunit.cache
app/node_modules
app/public/build
app/public/hot
app/public/storage
app/storage/*.key
app/vendor
app/.env
app/.env.backup
app/.env.production
app/.phpunit.result.cache

# IDE
/.fleet
/.idea
/.vscode

# Misc
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
